
html, body {
    height: 125vh;
    
    background-color: black;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}
body {
    margin: auto;
    width: 48vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 78%;
    width:100%;
    background: radial-gradient(gray 80%,gainsboro );
    border-radius: 1.6%;
}
.container img {
    height:95%;
    width: 90%;
    border-radius: 0.8%;
}
.buttons {
    position: relative;
    bottom: 7.5%;
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 3%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2%;
}
.w2 {
    left: 10%;
}

#button {
    width: 15%;
    height: 100%;
    background-color: transparent;
    border: 0px;
    cursor: pointer;
}

.receta {
    position: relative;
    bottom:66.8%;
    height: 14.5%;
    width: 68%;
}
.w5 {
    height: 100%; 
    width: 100%;
    border-radius: 8%;
    background-color: transparent;
    border: 0px;
    cursor: pointer;
}
.back1 {
    position: relative;
    height: 3%;
    width: 10%;
    left:9.5%;
    bottom: 92.2%;
    margin-left: 200%;
}
.back {
    height: 0px;
    width: 100%;
    background-color: transparent;
    border: 0px;
    cursor: default;
}
