html, body {
    min-height: 100vh;
    background-color: black;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 97.5vh;
    width:18.2rem;
    background: radial-gradient(gray 80%,gainsboro );
    border-radius: 1rem;
}
.container img {
    height: 93vh;
    border-radius: 0.5rem;
    
}
.buttons {
    display: flex;
    gap: 1.6rem;
}
.w2 {
    left: 0.2rem;
}

button {
    position: relative;
    bottom: 3.6rem;
    width: 25px;
    height: 25px;
    background-color: transparent;
    border: 0rem;
    cursor: pointer;
}

.w3 {
    left: 0.2rem;
}
.w4 {
    left: 0.1rem;
}